<h2>{{ title }}</h2>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <label for="signin-email">E-Mail</label><br />
  <input
    type="email"
    name="signin-email"
    id="signin-email"
    formControlName="email"
  /><br />

  <label for="signin-password">Passwort</label><br />
  <input
    type="password"
    name="signin-password"
    id="signin-password"
    formControlName="password"
  /><br />

  <div [hidden]="signInForm.valid">
    <p>Es sind nicht alle Pflichtfelder (korrekt) ausgefüllt!</p>
  </div>

  <button type="submit">Einloggen</button><br />
</form>
