<h2>{{title}}</h2>
<form>
    <label for="login-email">E-Mail</label><br>
    <input name="login-email" id="login-email" [(ngModel)]="email"><br>

    <label for="login-password">Passwort</label><br>
    <input type="password" name="login-password" id="login-password" [(ngModel)]="password"><br>

    <label for="login-password">Passwort (Wiederholung)</label><br>
    <input type="password" name="login-password-confirm" id="login-password-confirm" [(ngModel)]="password_confirm"><br>

    <button type="submit">Einloggen</button><br>

    <h3>Data-Bindings</h3>
    <ul>
        <li>
            <span>E-Mail: {{email}}</span>
        </li>
        <li>
            <span>Passwort: {{password}}</span>
        </li>
        <li>
            <span>Passwort (Wiederholung): {{password_confirm}}</span>
        </li>
    </ul>
</form>