<h2>{{ title }}</h2>
<form [formGroup]="signUpForm">
  <div>
    <label for="signup-email">E-Mail</label><br />
    <input
      type="email"
      name="signup-email"
      id="signup-email"
      formControlName="email"
    /><br />
  </div>

  <label for="signup-password">Passwort</label><br />
  <input
    type="password"
    name="signup-password"
    id="signup-password"
    formControlName="password"
  /><br />

  <label for="signup-password">Passwort (Wiederholung)</label><br />
  <input
    type="password"
    name="signup-password-confirm"
    id="signup-password-confirm"
    formControlName="password_confirm"
  /><br />

  <label for="signup-company">Firma</label><br />
  <input
    type="text"
    name="signup-company"
    id="signup-company"
    formControlName="company"
  /><br />

  <div formGroupName="address">
    <label for="signup-street">Straße</label><br />
    <textarea
      type="text"
      name="signup-street"
      id="signup-street"
      formControlName="street"
    ></textarea
    ><br />

    <label for="signup-city">Stadt</label><br />
    <input
      type="text"
      name="signup-city"
      id="signup-city"
      formControlName="city"
    /><br />

    <label for="signup-zip-code">Postleitzahl</label><br />
    <input
      type="text"
      name="signup-zip-code"
      id="signup-zip-code"
      formControlName="zip_code"
    /><br />
  </div>

  <div [hidden]="signUpForm.valid">
    <p>Es sind nicht alle Pflichtfelder (korrekt) ausgefüllt!</p>
  </div>
  <button type="submit">Registrieren</button><br />
</form>
